footer{
    width:100%;
    position:fixed;
    bottom:0;
    font-size:30px;
    background:white;
}

.message,.tel{
    display:inline-block;
    box-sizing:border-box;
    width:50%;
    border-radius:10px;
    text-align:center;
    line-height:100px;
}

.tel{
    position:absolute;
    background:#70dbdb;
    border:solid;
    margin-right:30px;
    border:4px solid #70dbdb;

}

.message{
    border:4px solid #70dbdb;
    color:#70dbdb;
    background:white;
    margin-left:10px;
    margin-right:10px;

}